# Only include what we specify
*

# Configuration files.
!app.yaml

# Go code.
!go.mod
!go.sum
!cmd/
!datastore/
!storage/
!jobrunner/

# Vite output directory.
# Include only openfish-webapp/dist, but nothing else from openfish-webapp.
!openfish-webapp
openfish-webapp/*
!openfish-webapp/dist
