# Only include what we specify
*

# Configuration files.
!app.yaml

# Go code.
!go.mod
!go.sum
!cmd/
!datastore/
!storage/
!jobrunner/

# Vite output directory.
# Include only site/dist, but nothing else from site.
!site
site/*
!site/dist
