:root {
  /* CSS variables */
  --bg: #ffffff;
  --content: #1E293B;

  --primary: #103f79;
  --secondary: #3f9fff;

  --success: #2dd491;
  --success: #056245;
  --warning: #F4BF50;
  --warning-content: #584314;
  --error: #fb6e77;
  --error-content: #3b1a1c;

  /* Colour ranges */
  --gray-50: #f9fafb;
  --gray-100: #f2f5f5;
  --gray-200: #e7ebed;
  --gray-300: #d3dcdf;
  --gray-400: #b7c4c9;
  --gray-500: #91a4ac;
  --gray-600: #80949d;
  --gray-700: #6b7d85;
  --gray-800: #5a696f;
  --gray-900: #49555a;
  --gray-950: #2e383d;


  --blue-dull-50: #f4f7fb;
  --blue-dull-100: #e7eef7;
  --blue-dull-200: #cadaed;
  --blue-dull-300: #9bbbde;
  --blue-dull-400: #6599cb;
  --blue-dull-500: #427bb5;
  --blue-dull-600: #316298;
  --blue-dull-700: #284e7c;
  --blue-dull-800: #244265;
  --blue-dull-900: #233a57;
  --blue-dull-950: #17253a;
  

  /* Shadows */
  --shadow-sm: 0 0.25rem 0.25rem -0.25rem var(--gray-950);
  --shadow-md: 0 0.5rem 0.5rem -0.5rem var(--gray-950);
  --shadow-lg: 0 1rem 3rem -1rem var(--gray-950);

  /* Base styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: var(--content);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* CSS reset */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html, *, *:before, *:after {
  box-sizing: inherit;
}

/* Link styling */
a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

/* Page layout */
body {
  width: 100vw;
  height: 100vh;
}

body.grid-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: [fullwidth-start] 1fr [page-start left-aside-start] 16rem [content-start left-aside-end] minmax(auto, 50rem) [content-end right-aside-start] 16rem [page-end right-aside-end] 1fr [fullwidth-end];
  grid-template-rows: [header-start] 4rem [header-end content-start] 1fr [content-end];
}

header {
  grid-column: fullwidth;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: subgrid;
  padding: 1rem 0;
  border-bottom: 1px solid;
}

header > h1 {
  grid-column-start: page-start;
  grid-column-end: content-start;
  font-size: 1.25rem;
  font-weight: 600;
  align-self: end;
}
